# Supabase
SUPABASE_URL=https://wnjpzsxrwwrskakrhfgg.supabase.co
SUPABASE_ANON_KEY=sb_publishable_mWFzAPYyXdhy0Psxj-x7lA_mYzu0clG
SUPABASE_SERVICE_KEY=your_service_role_key

# Firebase
FIREBASE_PROJECT_ID=44taxi
FIREBASE_PRIVATE_KEY=your_private_key
FIREBASE_CLIENT_EMAIL=your_client_email

# Krypt Pay
KRYPT_CI=krypt_ci_4e3395f6173d56d25e
KRYPT_CS=your_krypt_cs
KRYPT_BASE_URL=https://kryptgateway.netlify.app

# App
PORT=3000
NODE_ENV=development
